:root {
  --box-shadow-color1: rgba(0, 0, 0, 0.12);
  --box-shadow-color2: rgba(0, 0, 0, 0.14);
  --box-shadow-color3: rgba(0, 0, 0, 0.2);
  --box-shadow-color4: rgba(0, 0, 0, 0.4);
  --head-background: rgb(29, 58, 121);
  --input-border: #e0e0e0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 15px 10px;
  margin: 0;
}

.page-header {
  position: fixed;
  width: 100%;
  padding: 8px 10px;
  background-color: var(--head-background);
  box-shadow: 0px 3px 5px var(--box-shadow-color4);
}

.page-main {
  padding-top: 70px;
}

.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  font-size: 16px;
}

.search-input {
  width: 100%;
  height: 36px;
  padding-left: 10px;
  border: 2px solid var(--input-border);
  border-radius: 5px;
  outline: none;
  background-color: #f5f5f5;
  color: var(--head-background);
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border: none;
  background-color: var(--input-border);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 0;
}

.search-icon {
  width: 16px;
  height: 16px;
  fill: var(--head-background);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-link {
  flex-basis: calc((100% - 6 * 5px) / 4);
  text-decoration: none;
  color: inherit;
}

.photo-card {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px var(--box-shadow-color1),
    0px 1px 1px var(--box-shadow-color2), 0px 2px 1px var(--box-shadow-color3);
}

.photo-card img {
  object-fit: cover;
  width: 100%;
  height: 210px;
}

.info {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.info-item {
  text-align: center;
}

.page-footer {
  text-align: center;
}

.load-more {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  min-width: 140px;
  padding: 10px;
  color: #fff;
  background-color: var(--head-background);
  cursor: pointer;
}

.load-more:disabled {
  opacity: 0.4;
}

.load-more.is-hidden {
  display: none;
}
